html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  color: #98A2B3;
}

button {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.header__bg {
  background-color: #E0DCD7;
  width: 100%;
}

.header__inner {
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 116px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  /* gap: 35px; */
}

.header__nav-link {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  padding: 26px 17px;
  cursor: pointer;
}


.header__btn {
  background-color: #FFFFFF;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  text-transform: uppercase;
  color: #000000;
  border: none;
  cursor: pointer;
}

.colorful {
  padding-top: 40px;
  padding-bottom: 37px;
}

.colorful__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorful__title {
  max-width: 650px;
  font-size: 55px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 55px;
}

.yellow {
  color: #FBD71D;
}

.blue {
  color: #21B6DB;
}

.violet {
  color: #7D78C8;
}

.red {
  color: #D22D7E;
}

.orange {
  color: #E15C22;
}

.lightyellow {
  color: #E9E12F;
}

.lightgreen {
  color: #9BD322;
}

.colorful__text {
  max-width: 560px;
  text-transform: uppercase;
  margin-bottom: 67px;
  font-style: medium;
}

.colorful__btn {
  color: #000000;
  background-color: #BFBFBF;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 33px;
  border: none;
  cursor: pointer;
}

.about {
  padding: 60px 0;
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}

.about__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  gap: 20px;
}

.text {
  max-width: 545px;
  text-transform: uppercase;
}

.about__text {
  line-height: 1.5;
  letter-spacing: 1px;
}

.about__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.about__btn {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #E0DCD7;
  padding: 18px 21px;
  border: none;
  cursor: pointer;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.gallery {
  padding: 60px 0;
}

.gallery__title {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}

.gallery__category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gallery__category-item {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  background-color: #E0DCD7;
  padding: 7px 18px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.gallery__category-item:hover {
  background-color: #FF6364;
  color: #FFFFFF;
}

.gallery__cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);

}

.gallery__card {
  max-width: 285px;
  display: flex;
  flex-direction: column;
}

.gallery__card-img {
  margin-bottom: 20px;
}

.gallery__card-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;

}

.gallery__card-text {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.gallery__card-link {
  margin-bottom: 100px;
}

.subcribe {
  padding: 60px 0;
  background-color: #E0DCD7;
}

.subcribe__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.subcribe__content {
  max-width: 367px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.subcribe__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
}

.subcribe__text {
  font-size: 18px;
  text-transform: uppercase;
}

.subcribe__input {
  padding: 21px 0;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #7D7B7B;
}

.subcribe__input::placeholder {
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}


.subcribe__btn {
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: #BFBFBF;
  padding: 60px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;

}

.footer__nav,
.footer__styles,
.footer__material {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #000000;
}

.footer__nav-link,
.footer__styles-link,
.footer__material-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__contacts-tel {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.footer__contacts-email {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.footer__contacts-copyright {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF
}

.burger__btn {
  display: none;
  width: 40px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  position: relative;
  z-index: 1;
}

.burger__btn span {
  width: 100%;
  height: 4px;
  background-color: #000000;
}



@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }

  .colorful__title {
    font-size: 45px;
    margin-bottom: 35px;
}

.colorful__text {
  margin-bottom: 55px;
  font-size: 16px;
}

.colorful__btn {
  padding: 15px 28px;
  font-size: 14px;
}

.about {
  padding: 40px 0;
}

.about__title {
  font-size: 22px;
  margin-bottom: 30px;
}

.about__text {
  font-size: 16px;
}

.gallery {
  padding: 40px 0;
}

.gallery__title {
  font-size: 22px;
  margin-bottom: 30px;
}

.gallery__category {
  margin-bottom: 30px;
  gap: 10px;
}


}

@media (max-width: 988px) {
  .about__top {
    margin-bottom: 50px;
  }

  .about__btn {
    padding: 15px 18px;
    font-size: 14px;}

    .gallery__card-title {
      font-size: 18px;
    }
    
    .gallery__card-text {
      font-size: 16px;
    }
    
    .gallery__card-link {
      margin-bottom: 80px;
      font-size: 14px;
    }

    .gallery__category {
      margin-bottom: 30px;
    }

    .gallery__category-item {
      font-size: 14px;
      padding: 5px 15px;
    }

    .gallery__cards {
      grid-template-columns: repeat(2, 1fr);
}
}


@media (max-width: 940px) {

  .container {
    padding: 0 20px;
  }

  .header__inner {
    padding: 10px 0;
  }

  .header__logo-link {
    font-size: 20px;
  }

  .header__nav {
    gap: 40px;
  }

  .colorful__title {
    font-size: 35px;
    margin-bottom: 25px;
  }

  .colorful__text {
    font-size: 14px;
    margin-bottom: 45px;
  }

  .colorful__btn {
    padding: 12px 25px;
    font-size: 12px;
  }

  .colorful__inner {
    flex-direction: column;
    gap: 30px;
  }
  
  .colorful__text {
    margin-bottom: 35px;
  }

  .about__title {
    text-align: center;
  }

  .about__top {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
  }

  .about__bottom {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .about__text {
    font-size: 14px;
  }

  .gallery__title {
    text-align: center;
  }

  .gallery__category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 815px) {
  .header__nav-list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E0DCD7;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-100%);
    transition: transform .3s;
  }

  .header__nav-link {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    padding: 26px 17px;
    cursor: pointer;
  }

  .header__nav.header__nav--active .header__nav-list {
    transform: translateY(0%);
  }

  .burger__btn {
    display: flex;
  }

  .colorful {
    padding-top: 20px;
    padding-bottom: 20px;
}



}

@media (max-width: 540px) {
  .header__btn {
    padding: 8px 20px;
    font-size: 14px;
  }
}
